# Ignore build directory
build/
Codes/gesopatial_processing_prj/build/

# Ignore Sphinx cache files
.doctrees/
.buildinfo
Codes/gesopatial_processing_prj/source/_build/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore system-specific files
.DS_Store
Thumbs.db
